@model IEnumerable<ws02_MVC.Models.Travel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/css/MyStyle.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">參加清單</h6>
            @if (Convert.ToInt32(Session["useremployeeid"].ToString().Substring(1)) == 1)
            {
                <a href="@Url.Action("ExportToExcel")" class="btn btn-primary">Export</a>
            }
                @*<p>
                @Html.ActionLink("Create New", "Create")
            </p>*@
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TravelID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmployeeID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmployeeName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DepartmentName)
                                    </th>

                                    @if (Convert.ToInt32(Session["useremployeeid"].ToString().Substring(1)) == 1)
                                    {

                                        <th>
                                            @Html.DisplayNameFor(model => model.BirthDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NumberID)
                                        </th>
                                    }
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TravelID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DepartmentName)
                                        </td>
                                        @if (Convert.ToInt32(Session["useremployeeid"].ToString().Substring(1)) == 1)
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BirthDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NumberID)
                                            </td>

                                            <td>
                                                @Html.ActionLink("修改", "Edit", new { id = item.TravelID }, new { @id = "Edit", @class = "btn btn-info" })
                                                @Html.ActionLink("刪除", "Delete", new { id = item.TravelID }, new { @id = "Delete", @class = "btn btn-danger" })
                                            </td>
                                        }
                                    </tr>

                                }
                            </tbody>
                        </table>
                        @Html.ActionLink("回到報名首頁", "Index")
                    </div>
                </div>
            </div>
    </div>
</div>
@section scripts{

    <script src="~/Content/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {
            $('#dataTable').DataTable();
        })
    </script>

}


